body {
    background-color: rgb(63, 186, 186);
}

.navbar {
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.logo-dashboard {
    margin-left: 20px;
    border-radius: 25px;
}

.icone-profil {
    font-size: 2rem;
}

.icone-power {
    font-size: 2rem;
    margin-right: 20px;
}

.titre-dashboard {
    text-align: center;
    color: white;
    margin-top: 25px;
}

.formulaire {
    background-color: rgb(235, 214, 129);
    width: 700px;
    padding: 15px;
}

.marge-colonne {
    margin: 5px;
}

.colonne input {
    border-radius: 9px;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    padding: 8px;
    background: burlywood;
}

td{
    border: 1px solid black;
    padding: 8px;
}

